body {
    background-color: dimgrey;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.titulo {
    color: #015001;
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
    display: inline-block;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #17302e;
    font-weight: 600;
}

code {
    background-color: #35343d;
    color: green;
}