body {
    background-color: dimgrey;
}

.name {
    color: ghostwhite;
    height: .1px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.titulo {
    display: inline-block;
    background: #070646;
    color: #fff;
    width: 90%;
    text-align: center;
    border: solid #050f09 2px;
    border-radius: 10px;
}

img {
    width: 100px;
    height: 100px;
    display: inline-block;
}

p {
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #17302e;
    font-weight: 600;
}

code {
    background-color: #35343d;
    color: green;
}

ol {
    color: #194d19;

}

footer {
    background: #194d19;
    height: 2%;
    text-align: center;
    width: 100%;
    padding-top: .2rem;
    font-size: 1.2rem;
    color: #d9f5f5;
}

footer h4 {
    text-align: start;
}

.facebul {
    color: #d9f5f5;
    text-decoration: none;
}

.fab {
    color: #d9f5f5;
    padding-right: .5rem;
    padding-top: .5rem;
}